
body{ padding : 0; margin : 0; background-color : rgb(31, 45, 58); }

canvas {
  height : 99.5vh;
  width : calc((340 / 640) * 99.5vh);
  position : fixed;
  left : calc((100vw - ((340 / 640) * 100vh)) * 0.5);
}

.canvas-div2 {
  height : 99.5vh;
  width : calc((340 / 640) * 99.5vh);
  position : fixed;
  left : calc((100vw - ((340 / 640) * 100vh)) * 0.5);
}

.thumbs{
  width : 100%;
  padding : 0;
  height : 100%;
}

.s-4{
  width : 25%;
  height : calc(100vh / 7);
  float : left;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  color : rgb(236,240,241);
}

.s-4-sub{
  background-color : rgb(41,128,185);
  width : 90%;
  margin-left : 5%;
  height : 90%;
  margin-top : 5%;
}

.s-2{
  width : 50%;
  height : calc(100vh / 7);
  float : left;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  color : rgb(236,240,241);
}

.s-2-b{
  width : 95%;
  margin-left : 2.5%;
  height : 50%;
  margin-top : 12.5%;
  font-size : 32px;
  border : none;
  background-color : rgb(22,160,133);
  color : rgb(236,240,241);
}

.s-2-b-2{
  font-size : 24px;
}
