body {
  padding: 0;
  margin: 0;
  background-color : rgb(31, 45, 58);
}



canvas {
  height : 99.5vh;
  width : calc((340 / 640) * 99.5vh);
  position : fixed;
  left : calc((100vw - ((340 / 640) * 100vh)) * 0.5);
}

.play {
  z-index : 7;
  font-size : 42px;
  width : 160px;
  text-align : center;
  padding : 5px;
  border-radius : 5px;
  padding-left : 20px;
  padding-right : 20px;
  background-color : rgb(39,174,96);
  color : rgb(236,240,241);
  border : none;
  position : fixed;
  left : calc(50% - 160px / 2);
  top : 70%;
  cursor : pointer;
}
