
body{
  margin : 0;
  padding : 0;
  background-color : rgb(31, 45, 58);
}

#canv {
  height : 99.5vh;
  width : calc((340 / 640) * 99.5vh);
  position : fixed;
  left : calc((100vw - ((340 / 640) * 100vh)) * 0.5);

}

#pause-button{
  z-index : 1;
  font-size : 26px;
  position : fixed;
  top : 20px;
  left : calc(
    100vw -
    ((100vw - ((340 / 640) * 100vh)) * 0.5) /*the margin size*/
    - 120px
  );
  width : 100px;
  background-color : rgb(39,174,96);
  color : rgb(236,240,241);
  border : none;
  padding : 3px;
  border-radius : 3px;
  cursor : pointer;
}


#start-button{
  z-index : 7;
  font-size : 42px;
  width : 160px;
  text-align : center;
  padding : 5px;
  border-radius : 5px;
  padding-left : 20px;
  padding-right : 20px;
  background-color : rgb(39,174,96);
  color : rgb(236,240,241);
  border : none;
  position : fixed;
  left : calc(50% - 160px / 2);
  top : 50%;
  cursor : pointer;
}

#screen-blur{
  position : fixed;
  top : 0px;
  left : 0px;
  width : 100px;
  height : 100px;
  background-color : red;
  width : 100vw;
  height : 100vh;
  z-index : 6;
  background-color : rgb(31, 45, 58);
  opacity : 0.8;
}

#menu-container{
  position : fixed;
  width : calc(
    ((340 / 640) * 99.5vh) /*canvas width*/
    * 0.8
  );
  height : auto;
  z-index : 7;
  left :calc(
    50vw -
    (((340 / 640) * 99.5vh)*0.8) /*my width*/
    /2
  );
  top : calc(35% - 50px);

}

.menu-item{
  background-color : rgb(41,128,185);
  border : none;
  color : rgb(236,240,241);
  border-radius : 5px;
  width : 95%;
  margin : 2.5%;
  text-align : center;
  font-size : 30px;
  padding-top : 2%;
  padding-bottom : 2%;
  cursor : pointer;
}
