body {
  margin : 0;
  padding : 0;
  background-color : rgb(236,240,241);
}
canvas { float : left; cursor : none; }

#editBox{
  height : 640px;
  width : 690px;
}

#controlBox{
  float : left;
  width : 180px;
  height : 640px;
  background-color : rgb(44,62,80);
}

#tools{
  padding : 0;
  margin : 0;
}

.toolButton{
  font-size : 12px;
  width : 58px;
  height : 56px;
  padding : 0;
  float : left;
  background-color : rgb(31, 45, 58);
  color : rgb(241,196,15);
  border : 1px solid rgb(241,196,15);
  margin : 1px;
}
